body {
    background-color: #eee;
    padding-top: 20px;
    font-family: 'Lucida Sans', sans-serif;
    color: rgb(247, 243, 26);
    background-color: rgb(29, 29, 29);
    background-size: cover;
    
}

#footer {

    clear: both;
    padding: 20px;
    background: url('../images/bar.png');
    position: absolute; bottom: 0px;
    width: 100%;
    left: 0;
    height: 21px;
  }
  #header {

    clear: both;
    padding: 20px;
    background: url('../images/bar.png');
    position: absolute; top: 0px;
    width: 100%;
    left: 0;
    height: 21px;
  }